.compatible-scales-container {
  padding: .666em;
  // border: 1px dotted purple;
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s, opacity 1.3s ease-in;
  width: 89vw;
  height: 12.18vh;
  // height: 18vh;
  // margin-top: -5.6vh;
  margin-bottom: 5.6vh;

  .compatible-scales-heading {
    font-size: 1.1em;
    // font-size: 1.2222222222222223vw;
    letter-spacing: .256em;
    // letter-spacing: 0.28444444444444444vw;
    padding: 0 .5em;
    // padding: 0 0.5555555555555556vw;
  }

  .compatible-scales-count {
    font-size: .9em;
    // font-size: 1vw;
  }

  .compatible-scales {
    overflow: scroll;
    width: 100%;
    line-height: 1.25;
    // line-height: 85%;
    // border: 1px dotted orange;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    padding: 1.5em 1em;
    // white-space: nowrap;
    // padding: 1.6666666666666667vw 1.1111111111111112vw;

    li {
      font-size: .666em;
      // font-size: 0.7400000000000001vw;
      letter-spacing: .256em;
      // letter-spacing: 0.28444444444444444vw;
      // min-width: 320px;
      min-width: 22.22222222222222vw;
      text-align: center;
      // padding: .666em 0;
      padding: 1.297929354445798vh 0;
      cursor: pointer;
    }
  }

  &.show-matching-scales {
    visibility: visible;
    opacity: 1;
  }
}
