.fretboard {
  .tuning-container {
    position: relative;
    left: -2.5em;

    .tuning {
      // border: 1px solid green;
      padding-left: 10px;
      position: absolute;
      border-radius: .333em;
      top: 17px;
      line-height: 2;
      // font-size: .85em;
      font-size: 1.6565164433617539vh;
      font-weight: 600;

      .tune-all-strings {
        // border: 1px dotted red;
        position: absolute;
        text-align: center;
        font-size: 1.25em;
        cursor: pointer;
        margin-left: -.222em;
        width: 0;
        height: 0;
        &.tune-up {
          // top: -1em;
          top: -3vh;
        }

        &.tune-down {
          // bottom: -1em;
          bottom: -3vh;
        }
      }
    }
  }

  .strings {
    // padding: 15px 0;
    padding: 1.8270401948842874vh 0;
    // padding: 0.9375em 0;
    border-radius: .333em;
    // border: 2px solid $grey-2;

    .string {
      display: table;
      table-layout: fixed;
      width: 89vw;
      height: 3.33vh;

      .fret-container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;

        .string-fragment {
          position: relative;
          height: 1px;
          // height: 0.17793594306049823vh;

          .dot {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1.333em;
            height: 1.333em;
            border-radius: 50%;
            line-height:1.5;
            z-index: 1;
          }

          .note {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            font-size: .666em;
            font-weight: 600;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
