@mixin theme($primary, $secondary) {
  $offwhite-1: rgba($secondary, 0.125);
  $offwhite-2: lighten($secondary, 90%);
  $grey-1: darken($offwhite-1, 50%);
  $grey-2: rgba($primary, 0.8);

  background: $offwhite-1;
  transition: all 0.666s ease;

  header,
  footer,
  .scale-name-modal,
  .group-name-modal {
    transition: all 0.666s ease;
    background: -webkit-linear-gradient(
      152deg,
      rgba(lighten($primary, 6.66%), 0.9) 0%,
      rgba(lighten($primary, 3.33%), 0.95) 20%,
      $primary 100%
    );
  }

  .scale-name-modal,
  .group-name-modal {
    color: $secondary;
  }

  footer span {
    opacity: 0.333;
    background: transparent;
    color: $secondary;
    &:not(.disabled) {
      opacity: 1;
      transition: all 0.666s ease;
      &:hover {
        background: $secondary;
        color: $primary;
      }
    }
  }

  .user-option {
    box-sizing: border-box;
    border-top: 5px solid transparent;
    transition: border-top 0.3s ease-out;

    &:hover {
      border-top: 5px solid $secondary;
    }
  }

  .app-title {
    transition: all 0.5s ease;
    background: -webkit-linear-gradient(
      right,
      darken($secondary, 6.66%) 0%,
      $secondary 20%,
      lighten($primary, 66.6%) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .active-group {
    background: linear-gradient(
      270deg,
      lighten($primary, 66.6%),
      darken($secondary, 6.66%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: TextGlow 20s ease infinite;
    -moz-animation: TextGlow 20s ease infinite;
    animation: TextGlow 20s ease infinite;

    @-webkit-keyframes TextGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @-moz-keyframes TextGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes TextGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  .group-selection {
    color: $secondary;
    hr {
      border-top: 2px solid $secondary;
    }
  }

  .user-options-area {
    color: $secondary;
  }

  .modal {
    background: rgba(lighten($primary, 3.33%), 0.9);
  }

  #log-in-btn,
  #register-btn,
  .submit {
    background: $secondary;
  }

  .selection-container select {
    transition: all 0.5s ease;
    // background: $grey-1;
    background: -webkit-linear-gradient(
      145deg,
      $grey-1 0%,
      lighten($grey-1, 25%) 100%
    );
  }

  .bottom-panel-btn {
    transition: all 0.5s ease;
    // background: $grey-1;
    background: -webkit-radial-gradient(lighten($grey-1, 25%), $grey-1);
  }

  .selection-container select,
  .selection-container label,
  .bottom-panel-btn,
  .note-display {
    color: $primary;
  }

  .strings {
    border: 2px solid $grey-2;
  }

  .fret-numbers,
  .compatible-scales-container,
  .tune-all-strings {
    color: $grey-2;
  }

  .dot,
  .string-fragment {
    background: $primary;
  }

  .dot.root-note {
    background: $secondary;
    border: 2px solid $primary;
  }

  .note.root-note {
    @if (lightness($secondary) < 50) {
      color: lighten($primary, 100%);
    } @else {
      color: $primary;
    }
  }

  .highlighted-fret {
    background: darken($secondary, 6.66%);
  }

  .fret-container:not(:last-child) {
    border-right: 1px solid $primary;
  }

  .fret-container:not(:last-child),
  .note,
  .note-display-root {
    color: $offwhite-2;
  }

  .note-display-root {
    background: $grey-2;
  }

  .compatible-scales li span:hover,
  .tune-all-strings:hover {
    color: $secondary;
  }

  .show-more-scales {
    background: -webkit-linear-gradient(
      145deg,
      $grey-1 0%,
      lighten($grey-1, 25%) 100%
    );
    &:hover {
      color: $secondary;
    }
    &.disabled {
      opacity: 0.333;
    }
  }

  .tuning {
    // background: $grey-1;
    .tune-all-strings {
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;

      &.tune-up {
        border-bottom: 15px solid $secondary;
      }

      &.tune-down {
        border-top: 15px solid $secondary;
      }
    }

    select {
      background: transparent;
    }
  }

  .modal-fretboard {
    background: lighten(rgba($offwhite-1, 0.875), 36.66%);
  }
}
