$dark-1: #292827;  // brown
$dark-2: #322d33;  // purple
$dark-3: #382e38;  // dark pink
$dark-4: #324237;  // dark green
$dark-5: #292927;  // dark yellow
$dark-6: #212121;  // black
$light-1: #d4bca5;  // tan
// $light-2: #2626d1;  // blue
$light-2: #618ff2;  // blue
$light-3: #c234c2;  // pink
$light-4: #34c261;  // green
$light-5: #f2f23a;  // yellow
$light-6: #dedede;  // white
