@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/fretboard";
@import "./components/compatible_scales";
@import "./components/bottom_panel_buttons";

* {
  box-sizing: border-box;
  // line-height: 1.5;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 3px dotted red;
  }

  &.brown-theme {
    @include theme($dark-1, $light-1);
  }

  &.green-theme {
    @include theme($dark-4, $light-4);
  }

  &.pink-theme {
    @include theme($dark-3, $light-3);
  }

  &.blue-theme {
    @include theme($dark-2, $light-2);
  }

  &.yellow-theme {
    @include theme($dark-5, $light-5);
  }

  &.white-theme {
    @include theme($dark-6, $light-6);
  }
}

.selection-container {
  // border: 1px solid pink;
  display: flex;
  justify-content: space-between;
  width: 89vw;
  padding: 1.2em 0;

  div {
    // width: 49%;
    width: 32%;
  }

  select {
    width: 100%;
    padding: .6em;
    border-radius: .333em;
  }

  label, select {
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: .256em;
  }

  label {
    display: block;
    padding: .333em;
  }
}

// .display-area {
//   // border: 1px dotted orange;
// }

.fret-numbers {
  display: table;
  table-layout: fixed;
  width: 89vw;
  font-size: .333em;
  text-align: center;
  padding: .666em 0;

  .fret-number {
    display: table-cell;
    cursor: pointer;
  }
}

// .string-container {

// }

.selected-display {
  position: relative;

  div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.11s, opacity 0.11s linear;
  }

  &.selected {

    div {
      visibility: visible;
      opacity: 1;
    }
  }
}

.bottom-display {
  display: flex;
  flex-direction: column;
  padding: 1.2em;
}

.scale-display-container {
  position: relative;

  .scale-display {
    // border: 1px dotted blue;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 1.7em;

    .note-display {
      // border: 1px dotted green;
      display: inline-block;
      font-weight: 400;
      font-size: 1.5em;
      padding: 0 1.2em;
      cursor: pointer;
    }

    .note-display-root {
      padding: 0 12.5px 2.5px 11px;
      margin: 0 -12.5px -2.5px -11px;
      border-radius: 10px;
    }
  }

  .flats-sharps-toggle {
    display: none;
    position: absolute;
    // border: 1px dotted orange;
    width: 100%;
    height: 100%;
    text-align: right;

    span {
      position: relative;
      // border: 1px dotted orange;
      height: 100%;
      font-size: .666em;
      top: 50%;
    }
  }
}

.scale-name-modal, .group-name-modal, .group-modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s, transform 0.1s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 20;

  form {
    display: flex;
    flex-direction: column;
    width: 50%;

    * {
      margin: .5em;
      text-align: center;
    }

    .submit {
      border: none;
      border-radius: 2.5px;
      padding: .2em 1em;
      cursor: pointer;
    }
  }

  &.show-modal {
    visibility: visible;
    opacity: 1;
  }
}

.group-modal {
  width: 750px;
  height: 550px;
  border-radius: 10px;

  .group-selection {
    text-align: center;
    width: 90%;
    height: 90%;

    .group-name {
      font-weight: 600;
      font-size: 1.6em;
    }
    
    hr {
      display: block;
      height: 1px;
      border: 0;
      margin: 1em 0;
      padding: 0;
    }

    .group-scale-selections {
      .group-scale-selection {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-weight: 300;
          font-size: .8em;
          letter-spacing: .4em;
          margin: 5px 0;

          &.float-left {
            align-self: flex-start;
            padding-left: 4em;
          }

          &.float-right {
            align-self: flex-end;
            padding-right: 4em;
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 80%;

      li {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;

        ul.modal-fretboard {
        position: relative;
        width: 90%;
        height: 80px;
        padding: 5px 0;
        border-radius: 5px;

          li.modal-fretboard-string {
            display: flex;
            align-items: center;
            height: 100%;
            
            ul.modal-fretboard-frets {
              display: table;
              table-layout: fixed;
              height: 100%;
              
              li.modal-fretboard-fret-container {
                position: relative;
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                &:not(:last-child) {
                  border-right: .1vh solid black;
                }
                
                .modal-fretboard-fret {
                  background: black;
                  height: .105vh;
                }

                .modal-fretboard-dot {
                  &.selected {
                    position: absolute;
                    background: black;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: .5em;
                    height: .5em;
                    border-radius: 50%;
                    line-height:1.5;
                    z-index: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.group-name-modal {
  select {
    text-align-last: center;
    padding: .25em;
    margin: .5em;
  }
  form {
    span {
      font-size: .7em;
      cursor: pointer;
    }
  }
}

.save-modal-note {
  font-size: .6em;
  margin: 1.5em 0;
  width: 66.6%;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}
